<style>
    .green {
        background-color: #dff0d8 !important;
    }
</style>
<div class="container-fluid" ng-controller="debitosBancoCtrl">
    <div class="panel panel-default">
        <div class="panel-heading">Emparejamiento de d&eacute;bitos</div>
        <div class="panel-body">
            <div ng-show="todas.length == 0">
                <div class="row" ng-show="cargando">
                    <div class="col-md-12">
                        <div class="progress">
                            <div class="progress-bar progress-bar-striped active" role="progressbar" aria-valuemin="0"
                                aria-valuemax="100" ng-style="{'width': progress + '%'}">
                                <span class="sr-only">{{progress}}%</span>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-4">
                        <div class="form-group">
                            <label class="control-label">Empresa:</label>
                            <ui-select ng-model="params.idempresa" title="Seleccione una empresa..." theme="bootstrap"
                                autofocus="false">
                                <ui-select-match placeholder="Buscar empresa..." allow-clear="true">
                                    <span ng-bind="($select.selected.nomempresa)"></span>
                                </ui-select-match>
                                <ui-select-choices repeat="item.id as item in empresas | filter:$select.search">
                                    <div ng-bind-html="(item.nomempresa) | highlight: $select.search"></div>
                                </ui-select-choices>
                                <ui-select-no-choice>No hay resultados...</ui-select-no-choice>
                            </ui-select>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="form-group">
                            <div class="form-group">
                                <label class="control-label">Del:</label>
                                <input type="date" name="fchDel" id="fchDel" class="form-control"
                                    ng-model="params.fdel">
                            </div>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="form-group">
                            <div class="form-group">
                                <label class="control-label">Al:</label>
                                <input type="date" name="fchAl" id="fchAl" class="form-control" ng-model="params.fal">
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-12">
                        <div class="btn-group btn-group-justified">
                            <div class="btn-group" role="group">
                                <button type="button" class="btn btn-primary" title="Buscar documentos del banco"
                                    ng-click="buscarDocumentos()">
                                    <i class="fi fi-rr-search"></i> Buscar documentos del banco
                                </button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div ng-show="todas.length > 0">
                <form name="paramsBus" id="paramsBus" novalidate>
                    <div class="row">
                        <div class="col-md-4">
                            <div class="form-group">
                                <label class="control-label">Empresa:</label>
                                <ui-select ng-model="params.idempresa" title="Seleccione una empresa..."
                                    theme="bootstrap" autofocus="false">
                                    <ui-select-match placeholder="Buscar empresa..." allow-clear="true">
                                        <span ng-bind="($select.selected.nomempresa)"></span>
                                    </ui-select-match>
                                    <ui-select-choices repeat="item.id as item in empresas | filter:$select.search">
                                        <div ng-bind-html="(item.nomempresa) | highlight: $select.search"></div>
                                    </ui-select-choices>
                                    <ui-select-no-choice>No hay resultados...</ui-select-no-choice>
                                </ui-select>
                            </div>
                        </div>
                        <div class="col-md-4">

                            <div class="form-group">
                                <label class="control-label">Del:</label>
                                <input type="date" name="fchDel" id="fchDel" class="form-control"
                                    ng-model="params.fdel">
                            </div>
                        </div>
                        <div class="col-md-4">
                            <div class="form-group">
                                <label class="control-label">Al:</label>
                                <input type="date" name="fchAl" id="fchAl" class="form-control" ng-model="params.fal">
                            </div>

                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-4">
                            <div class="form-group">
                                <label class="control-label">Banco:</label>
                                <ui-select ng-model="params.idbanco" title="Seleccione un banco..." theme="bootstrap"
                                    autofocus="false">
                                    <ui-select-match placeholder="Buscar banco..." allow-clear="true">
                                        <span ng-bind="($select.selected.bancomoneda)"></span>
                                    </ui-select-match>
                                    <ui-select-choices repeat="item.id as item in bancos | filter:$select.search"
                                        group-by="'grupo'">
                                        <div ng-bind-html="(item.nombrecta) | highlight: $select.search">
                                        </div>
                                    </ui-select-choices>
                                    <ui-select-no-choice>No hay resultados...</ui-select-no-choice>
                                </ui-select>
                            </div>
                        </div>
                        <div class="col-md-4">
                            <div class="form-group">
                                <label class="control-label">Tipo transacc&oacute;n:</label>
                                <ui-select ng-model="params.tipos" title="Seleccione uno o varios tipos..." theme="bootstrap"
                                    autofocus="false">
                                    <ui-select-match placeholder="Buscar tipo transaccion..." allow-clear="true">
                                        <span ng-bind="($select.selected.abreviatura)"></span>
                                    </ui-select-match>
                                    <ui-select-choices repeat="item.abreviatura as item in tipotrans | filter:$select.search"
                                        group-by="'grupo'">
                                        <div ng-bind-html="(item.abreviadesc) | highlight: $select.search">
                                        </div>
                                    </ui-select-choices>
                                    <ui-select-no-choice>No hay resultados...</ui-select-no-choice>
                                </ui-select>
                            </div>
                        </div>
                        <div class="col-md-4">
                            <div class="form-group">
                                <label class="control-label">Ver:</label>
                                <select name="selVer" id="selVer" class="form-control" ng-model="params.ver">
                                    <option value="0">Todos</option>
                                    <option value="1">D&eacute;bitos no emparejados</option>
                                    <option value="2">D&eacute;bitos emparejados</option>
                                </select>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-12">
                            <div class="btn-group btn-group-justified">
                                <div class="btn-group" role="group">
                                    <button type="button" class="btn btn-default" title="Buscar documentos del banco"
                                        ng-click="buscar()">
                                        <i class="fi fi-rr-search"></i> Buscar documentos del banco
                                    </button>
                                </div>
                            </div>
                        </div>
                    </div>
                </form>
                <table class="table table-responsive table-condensed">
                    <caption>
                        <div class="col-md-2">
                            <select name="selCuantos" id="selCuantos" ng-model="itemsPerPage"
                                class="form-control input-sm">
                                <option value="5">5</option>
                                <option value="10">10</option>
                                <option value="15">15</option>
                                <option value="20">20</option>
                                <option value="25">25</option>
                                <option value="30">30</option>
                                <option value="35">35</option>
                                <option value="40">40</option>
                            </select>
                        </div>
                        <div class="col-md-10">
                            <div class="input-group">
                                <input type="text" class="form-control input-sm" placeholder="Buscar documento..."
                                    ng-model="search.$" />
                                <span class="input-group-btn">
                                    <button type="button" title="Descargar reporte" class="btn btn-danger btn-sm"
                                        ng-click="imprimir(params)" ng-disabled="true">
                                        <i class="fa fa-file-pdf-o"></i>
                                    </button>
                                    <button type="button" title="Descargar excel" class="btn btn-success btn-sm"
                                        ng-click="imprimirXML(params)" ng-disabled="true">
                                        <i class="fa fa-file-excel-o"></i>
                                    </button>
                                </span>
                            </div>
                        </div>
                    </caption>
                    <thead>
                        <tr>
                            <th><input type="checkbox" ng-model="todos" ng-click="selTodos(todos)" ng-true-value="1" ng-false-value="0" class="form-control"
                                    title="Seleccionar todos"></th>
                            <th>Sistema</th>
                            <th>Banco</th>
                        </tr>
                    </thead>
                    <tbody ng-repeat="t in paginatedEmpleados() | filter:search" ng-show="paginatedEmpleados().length > 0">
                        <tr ng-class="{'green': +t.emparejado === 1}">
                            <td style="border-right: 1px solid #ccc" rowspan="2" class="text-center">{{t.banco}}</td>
                            <td style="border-right: 1px solid #ccc">{{t.tipotrans}}-{{t.numero}}</td>
                            <td ng-show="t.cuantos === 1">{{t.numban}}</td>
                            <td ng-hide="t.cuantos === 1" rowspan="4" style="vertical-align: middle;">
                                <ui-select ng-model="t.idbanco" title="Seleccione una transaccion..." theme="bootstrap"
                                    autofocus="false">
                                    <ui-select-match placeholder="Buscar transaccion..." allow-clear="true">
                                        <span ng-bind="($select.selected.numban)"></span>
                                    </ui-select-match>
                                    <ui-select-choices repeat="item.id as item in t.docs | filter:$select.search">
                                        <div><strong>N&uacute;mero: </strong>
                                            <span ng-bind-html="(item.numban) | highlight: $select.search"></span>
                                        </div>
                                        <div><strong>Monto: </strong>
                                            <span ng-bind-html="(item.montobanstr) | highlight: $select.search"></span>
                                        </div>
                                        <div><strong>Fecha: </strong>
                                            <span ng-bind-html="(item.fechabanstr) | highlight: $select.search"></span>
                                        </div>
                                        <div><strong>Concepto: </strong>
                                            <span ng-bind-html="(item.descripcion) | highlight: $select.search"></span>
                                        </div>
                                    </ui-select-choices>
                                    <ui-select-no-choice>No hay resultados...</ui-select-no-choice>
                                </ui-select>
                            </td>
                        </tr>
                        <tr ng-class="{'green': +t.emparejado === 1}">
                            <td style="border-right: 1px solid #ccc">{{t.monto | currency:t.moneda+'.'}}</td>
                            <td ng-show="t.cuantos === 1">{{t.montoban | currency:t.moneda+'.'}}</td>
                        </tr>
                        <tr ng-class="{'green': +t.emparejado === 1}">
                            <td style="border-right: 1px solid #ccc" rowspan="2" class="text-center">
                                <input type="checkbox" ng-model="t.conciliar" ng-true-value="1" ng-false-value="0"
                                    ng-disabled="!t.id_banco" class="form-control"
                                    title="{{ t.id_banco ? 'Conciliar' : 'Selecciona una transaccion para habilitar' }}">
                            </td>
                            <td style="border-right: 1px solid #ccc">{{t.fecha | date:'dd/MM/yyyy'}}</td>
                            <td ng-show="t.cuantos === 1">{{t.fechaban | date:'dd/MM/yyyy'}}</td>
                        </tr>
                        <tr ng-class="{'green': +t.emparejado === 1}">
                            <td style="border-right: 1px solid #ccc">{{t.concepto}}</td>
                            <td ng-show="t.cuantos === 1"> {{t.descripcion}}</td>
                        </tr>
                    </tbody>
                    <tbody ng-hide="paginatedEmpleados().length > 0">
                        <tr>
                            <td colspan="7" class="text-center">No se encontraron registros con los parametros de busqueda...</td>
                        </tr>
                    </tbody>
                    <tfoot>
                        <tr>
                            <td colspan="7">
                                <div class="pull-right">
                                    <button class="btn btn-sm btn-default" ng-click="setPage(currentPage - 1)"
                                        ng-disabled="currentPage == 1">Anterior</button>
                                    <span>Página {{currentPage}} de {{totalPages}}</span>
                                    <button class="btn btn-sm btn-default" ng-click="setPage(currentPage + 1)"
                                        ng-disabled="currentPage == totalPages">Siguiente</button>
                                </div>
                            </td>
                        </tr>
                        <tr>
                            <td colspan="7">
                                <div class="btn-group btn-group-justified">
                                    <div class="btn-group" role="group">
                                        <button type="button" title="Descargar notas" class="btn btn-primary"
                                            ng-click="imprimirNota()">
                                            <i class="fi fi-tr-money-check"></i> Descargar nota
                                        </button>
                                    </div>
                                    <div class="btn-group" role="group">
                                        <button type="button" title="Emparejar notas" class="btn btn-success"
                                            ng-click="emparejar()">
                                            <i class="fi fi-br-check"></i> Emparejar
                                        </button>
                                    </div>
                                </div>
                            </td>
                        </tr>
                    </tfoot>
                </table>
            </div>
        </div>
    </div>
    <!-- <div class="panel-footer" ng-show="generados.lenght > 0">
                </div> -->
</div>
</div>