<div class="container" ng-controller="rptAntiClientesCtrl">
    <div class="row">
        <div class="panel panel-primary">
            <div class="panel-heading">ANTIG&Uuml;EDAD DE SALDOS DE CLIENTES</div>
            <div class="panel-body">
                <div class="row">
                    <div class="col-md-4">
                        <div class="form-group">
                            <label for="selEmpre">Empresa:</label>
                            <select name="selEmpre" id="selEmpre" class="form-control input-sm" ng-model="params.idempresa" ng-options="obj.id as obj.nomempresa for obj in empresas" ng-change="loadProyectos(params.idempresa)"></select>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="form-group">
                            <label for="selProy">Proyecto:</label>
                            <select name="selProy" id="selProy" class="form-control input-sm" ng-model="params.idproyecto" ng-options="obj.id as obj.nomproyecto for obj in proyectos"></select>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="form-group">
                            <label for="txtCliente" class="control-label">Cliente:</label>
                            <div angucomplete-alt id="txtCliente"
                                 placeholder="Buscar cliente..."
                                 pause="400"
                                 selected-object="clienteSelected"
                                 remote-url="php/rptanticliente.php/listaclientes/"
                                 remote-url-error-callback="errorSearch"
                                 remote-url-data-field="results"
                                 title-field="nombre"
                                 input-class="form-control input-sm"
                                 match-class="highlight"
                                 minlength="1"
                                 field-required="true"
                                 input-name="txtCliente"
                                 override-suggestions="true">
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-2">
                        <div class="form-group">
                            <label for="txtAl">Al:</label>
                            <input name="txtAl" id="txtAl" type="date" class="form-control input-sm" ng-model="params.al" placeholder="Al"/>
                        </div>
                    </div>
                    <div class="col-md-1">
                        <div class="form-group">
                            <label for="chkDet">Detallado</label>
                            <input name="chkDet" id="chkDet" type="checkbox" class="form-control input-sm" ng-model="params.detallada" ng-true-value="1" ng-false-value="0" />
                        </div>
                    </div>
                    <div class="col-md-2">
                        <div class="form-group">
                            <label for="chkAlfa">Orden alfabético</label>
                            <input name="chkAlfa" id="chkAlfa" type="checkbox" class="form-control input-sm" ng-model="params.orderalfa" ng-true-value="1" ng-false-value="0" />
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="form-group">
                            <label for="chkExt">Ver s&oacute;lo saldos a favor del cliente</label>
                            <input name="chkExt" id="chkExt" type="checkbox" class="form-control input-sm" ng-model="params.pagoextra" ng-true-value="1" ng-false-value="0" />
                        </div>
                    </div>
                </div>
            </div>
            <div class="panel-footer" style="text-align: right !important;">
                <div class="btn-group" role="group" aria-label="...">
                    <button type="button" class="btn btn-primary btn-sm" ng-click="getAntiCli()">
                        <i class="fa fa-file-pdf-o" aria-hidden="true"></i>
                    </button>
                    <button type="button" class="btn btn-primary btn-sm" ng-click="getAntiCliXLSX()">
                        <i class="fa fa-file-excel-o" aria-hidden="true"></i>
                    </button>
                    <button type="button" class="btn btn-primary btn-sm" ng-click="resetParams()">
                        <span class="glyphicon glyphicon-refresh" aria-hidden="true"></span>
                    </button>
                </div>
            </div>
        </div>
    </div>
    <rpt-viewer contenido="content"></rpt-viewer>
</div>