<style>
    .amarillo {
        background-color: #F7EB89;
        text-align: center;
        border-radius: 5px;
        font-size: 16px;
    }

    .celeste {
        background-color: rgb(217, 231, 248);
        border-radius: 5px;
    }

    .gris {
        background-color: #E8E8E8;
        border-radius: 5px;
    }

    .blanco {
        background-color: white;
    }

    .ctxt {
        text-align: center;
    }
</style>
<div class="container" ng-controller="hojasControlCtrl">
    <ul class="nav nav-tabs">
        <li class="active">
            <a show-tab href="#divTransacciones" data-toggle="tab">Proveedores</a>
        </li>
        <!-- <li>
            <a show-tab href="#divNotas" data-toggle="tab">Notas de d&eacute;bito</a>
        </li> -->
    </ul>
    <div class="tab-content">
        <div class="tab-pane fade in active" id="divTransacciones">
            <div class="panel panel-default">
                <div class="panel-heading">Hoja de control pago proveedores</div>
                <div class="panel-body">
                    <form name="paramsProv" id="paramsProv" novalidate>
                        <div class="row">
                            <div class="col-md-4">
                                <div class="form-group required">
                                    <label class="control-label">Empresa:</label>
                                    <ui-select ng-model="params_proveedores.idempresa" title="Seleccione una empresa..."
                                        theme="bootstrap" autofocus="false" required
                                        ng-change="getProyectos(params_proveedores.idempresa)">
                                        <ui-select-match placeholder="Buscar empresa..." allow-clear="true">
                                            <span ng-bind="($select.selected.nomempresa)"></span>
                                        </ui-select-match>
                                        <ui-select-choices repeat="item.id as item in empresas | filter:$select.search">
                                            <div ng-bind-html="(item.nomempresa) | highlight: $select.search"></div>
                                        </ui-select-choices>
                                        <ui-select-no-choice>No hay resultados...</ui-select-no-choice>
                                    </ui-select>
                                </div>
                            </div>
                            <div class="col-md-4">
                                <div class="form-group required">
                                    <label class="control-label">Proyecto:</label>
                                    <ui-select ng-model="params_proveedores.idproyecto"
                                        ng-change="getProveedores(params_proveedores.idempresa, params_proveedores.idproyecto)"
                                        title="Seleccione un proyecto..." theme="bootstrap" autofocus="false" required>
                                        <ui-select-match placeholder="Buscar proyecto..." allow-clear="true">
                                            <span ng-bind="($select.selected.nomproyecto)"></span>
                                        </ui-select-match>
                                        <ui-select-choices
                                            repeat="item.id as item in proyectos | filter:$select.search">
                                            <div ng-bind-html="(item.nomproyecto) | highlight: $select.search"></div>
                                        </ui-select-choices>
                                        <ui-select-no-choice>No hay resultados...</ui-select-no-choice>
                                    </ui-select>
                                </div>
                            </div>
                            <div class="col-md-4">
                                <div class="form-group required">
                                    <label class="control-label">Proveedores:</label>
                                    <ui-select ng-model="params_proveedores.idproveedor"
                                        title="Seleccione un proveedor..." theme="bootstrap" autofocus="false" required>
                                        <ui-select-match placeholder="Buscar proveedor..." allow-clear="true">
                                            <span ng-bind="($select.selected.nombre)"></span>
                                        </ui-select-match>
                                        <ui-select-choices
                                            repeat="item.id as item in proveedores | filter:$select.search">
                                            <div ng-bind-html=" (item.nitnombre) | highlight: $select.search"></div>
                                            <strong> Cuenta: </strong>
                                            <span ng-bind-html="(item.cuentac) | highlight: $select.search"></span>
                                        </ui-select-choices>
                                        <ui-select-no-choice>No hay resultados...</ui-select-no-choice>
                                    </ui-select>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-4">
                                <div class="form-group required">
                                    <label for="selVer" class="control-label">Ver:</label>
                                    <select name="selVer" id="selVer" class="form-control"
                                        ng-model="params_proveedores.ver" required>
                                        <option value="1">A&ntilde;o</option>
                                        <option value="2">Rango</option>
                                        <option value="3">Todos los a&ntilde;os</option>
                                    </select>
                                </div>
                            </div>
                            <div class="col-md-4" ng-hide="params_proveedores.ver == 3">
                                <div class="form-group">
                                    <label for="numAnioDel" class="control-label"
                                        ng-show="params_proveedores.ver == 1">A&ntilde;o:</label>
                                    <label for="numAnioDel" class="control-label"
                                        ng-show="params_proveedores.ver == 2">A&ntilde;o del:</label>
                                    <input name="numAnioDel" id="numAnioDel" type="number" class="form-control"
                                        ng-model="params_proveedores.anio_inicial">
                                </div>
                            </div>
                            <div class="col-md-4" ng-show="params_proveedores.ver == 2">
                                <div class="form-group">
                                    <label for="numAnioAl" class="control-label">A&ntilde;o al:</label>
                                    <input name="numAnioAl" id="numAnioAl" type="number" class="form-control"
                                        ng-model="params_proveedores.anio_final">
                                </div>
                            </div>
                        </div>
                    </form>
                </div>
                <div class="panel-footer text-right">
                    <div class="btn-group">
                        <button type="button" class="btn btn-default" ng-click="getCaratula(params_proveedores)"
                            ng-disabled="cargando" title="Descargar caratula">
                            <span class="fa fa-file-pdf-o" aria-hidden="true"></span> Caratula
                        </button>
                        <button type="button" class="btn btn-danger" ng-click="getPdfProveedores(params_proveedores)"
                            ng-disabled="paramsProv.$invalid || cargando">
                            <span class="fa fa-file-pdf-o" aria-hidden="true"></span>
                        </button>
                        <button type="button" class="btn btn-success" ng-click="getXmlProveedores(params_proveedores)"
                            ng-disabled="paramsProv.$invalid || cargando">
                            <span class="fa fa-file-excel-o" aria-hidden="true"></span>
                        </button>
                        <button type="button" class="btn btn-primary"
                            ng-click="getReportProveedores(params_proveedores)" ng-disabled="cargando">
                            <span class="glyphicon glyphicon-eye-open"></span>
                        </button>
                    </div>
                </div>
            </div>
            </hr>
            <div class="row" ng-show="cargando">
                <div class="col-md-6 col-md-offset-3">
                    <div class="well well-sm" style="text-align: center; font-size: 1.45em; font-weight: bold;">
                        <span class="label label-primary">Generando reporte, por favor espere...</span>
                        <img ng-src="img/generando.gif" alt="Generando reporte..." style="width: 25px; height: 25px;" />
                    </div>
                </div>
            </div>
            <div id="tblResumen" class="table-responsive sticky-table sticky-headers" ng-show="ver">
                <table class="table table-responsive table-hover">
                    <caption class="ctxt amarillo" style="color: black;">HOJA DE CONTROL PROVEEDORES</caption>
                    <thead>
                        <tr class="sticky-header">
                            <th>No.</th>
                            <th>Empresa</th>
                            <th>Proyecto</th>
                            <th>Proveedor</th>
                            <th>Recurrencia</th>
                        </tr>
                    </thead>
                    <tbody ng-repeat="d in data">
                        <!-- fila principal -->
                        <tr ng-click="toggleAnios(d)">
                            <td>{{d.id}}</td>
                            <td>{{d.abreviatura}}</td>
                            <td>{{d.numero}}</td>
                            <td>{{d.nombre}}</td>
                            <td>{{d.cuantos}}</td>
                        </tr>

                        <!-- fila de años -->
                        <tr ng-if="d.ver_anios" ng-repeat="anio in d.proyectos">
                            <th colspan="5" class="celeste" ng-click="anio.ver_detalle = !anio.ver_detalle">
                                {{anio.nombre}}
                            </th>
                        </tr>

                        <!-- fila de transacciones -->
                        <tr ng-if="anio.ver_detalle" ng-repeat="anio in d.proyectos">
                            <td colspan="5">
                                <table class="table table-sm">
                                    <thead>
                                        <tr>
                                            <th>Mes</th>
                                            <th>Emisi&oacute;n</th>
                                            <th>Serie</th>
                                            <th>Numero</th>
                                            <th>Transacci&oacute;n</th>
                                            <th>Monto</th>
                                            <th>IVA</th>
                                            <th>Monto D&eacute;bito</th>
                                            <th>Elaboraci&oacute;n</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr ng-repeat="det in anio.transacciones">
                                            <td>{{det.mes}}</td>
                                            <td>{{det.fecha}}</td>
                                            <td>{{det.serie}}</td>
                                            <td>{{det.factura}}</td>
                                            <td>{{det.tran}}</td>
                                            <td>{{det.monto_factura | number: 2}}</td>
                                            <td>{{det.iva | number: 2}}</td>
                                            <td>{{det.monto_cheque | number: 2}}</td>
                                            <td>{{det.fecha_elaborado}}</td>
                                        </tr>
                                    </tbody>
                                </table>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
            <rpt-viewer contenido="content"></rpt-viewer>
        </div>
    </div>
</div>