<style>
    .amarillo {
        background-color: lightgoldenrodyellow;
        /* text-align: center; */
        border-radius: 5px;
        /* font-size: 16px; */
    }

    .celeste {
        background-color: rgb(217, 231, 248);
        border-radius: 5px;
    }

    .gris {
        background-color: #E8E8E8;
        border-radius: 5px;
    }

    .blanco {
        background-color: white;
    }

    .redondeado {
        border-radius: 10px;
        border: 1px solid #ccc;
        padding: 10px;
    }

    .modal-xl .modal-dialog {
        width: 90%;
        /* o 1200px, lo que necesites */
        max-width: none;
    }

    .tabla-resumen {
        width: 100%;
        overflow-x: auto;
    }

    .tabla-resumen table {
        min-width: max-content;
    }

    .tabla-resumen .sticky-cell {
        left: 0;
    }
</style>
<div class="container" ng-controller="rptFactIngresoCtrl">
    <div class="row">
        <div class="panel panel-default">
            <div class="panel-heading">Reporte de facturación e ingresos</div>
            <div class="panel-body">
                <form name="paramsRep" id="paramsRep" novalidate>
                    <div class="row">
                        <div class="col-md-6">
                            <div class="form-group">
                                <label class="control-label">Empresa:</label>
                                <ui-select ng-model="params.idempresa" title="Seleccione una empresa..."
                                    theme="bootstrap" autofocus="false" multiple>
                                    <ui-select-match placeholder="Seleccionar empresas" allow-clear="true">
                                        <span>{{$item.abreviatura}}</span>
                                    </ui-select-match>
                                    <ui-select-choices repeat="item.id as item in empresas | filter:$select.search">
                                        <div ng-bind-html="(item.nomempresa) | highlight: $select.search"></div>
                                    </ui-select-choices>
                                    <ui-select-no-choice>No hay resultados...</ui-select-no-choice>
                                </ui-select>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="form-group required">
                                <label for="numAnio" class="control-label">A&ntilde;o del:</label>
                                <input name="numAnio" id="numAnio" type="number" class="form-control"
                                    ng-model="params.anio" required>
                            </div>
                        </div>
                    </div>
                </form>
            </div>
            <div class="panel-footer text-right">
                <div class="btn-group btn-group">
                    <div class="btn-group">
                        <button type="button" class="btn btn-danger" ng-click="getPDF(params)"
                            ng-disabled="paramsRep.$invalid || cargando" title="Reporte PDF">
                            <span class="fa fa-file-pdf-o" aria-hidden="true"></span>
                        </button>
                    </div>
                    <div class="btn-group" role="group">
                        <button type="button" class="btn btn-success" ng-click="getXML(params)"
                            ng-disabled="paramsRep.$invalid || cargando" title="Reporte Excel">
                            <span class="fa fa-file-excel-o" aria-hidden="true"></span>
                        </button>
                    </div>
                    <div class="btn-group" role="group">
                        <button type="button" class="btn btn-primary" ng-click="getResumen(params)"
                            ng-disabled="paramsRep.$invalid || cargando" title="Reporte en pantalla">
                            <i class="fi fi-sr-file-download"></i>
                        </button>
                    </div>
                </div>
            </div>
        </div>
    </div>
    </hr>
    <div class="row" ng-show="cargando">
        <div class="col-md-6 col-md-offset-3">
            <div class="well well-sm" style="text-align: center; font-size: 1.45em; font-weight: bold;">
                <span class="label label-primary">Generando reporte, por favor espere...</span>
                <img ng-src="img/generando.gif" alt="Generando reporte..." style="width: 25px; height: 25px;" />
            </div>
        </div>
    </div>
    <div id="tblResumen" ng-show="ver">
        <div class="amarillo">
            <div style="text-align: center;">REPORTE FACTURAS CONTRA RECIBO</div>
        </div>
        <br>
        <div class="tabla-resumen sticky-table sticky-headers sticky-ltr-cells">
            <table class="table table-hover">
                <thead>
                    <tr class="sticky-header">
                        <th class="sticky-cell">&nbsp;</th>
                        <th ng-repeat="mes in meses">{{mes.nombre}}</th>
                        <th>Totales</th>
                    </tr>
                </thead>
                <tbody ng-repeat="i in ingresos">
                    <tr class="sticky-header">
                        <th class="sticky-cell">{{i.nombre}}</th>
                    </tr>
                    <tr ng-repeat-start="p in i.proyectos" ng-click="detalleFacturas(p)" class="gris">
                        <th class="sticky-cell">F {{p.nombre | limitTo:35}}</th>
                        <td ng-repeat="m in p.meses" style="text-align: right;">{{m.monto_fact | number:2}}</td>
                        <th style="text-align: right;">{{p.totales.monto_fact | number:2}}</th>
                    </tr>
                    <tr ng-show="p.detalle_facturas" ng-repeat="c in p.clientes" ng-click="detalleCliente(p)">
                        <th class="sticky-cell">{{c.nombre}}</th>
                        <th ng-repeat="m in c.meses" style="text-align: right;">{{m.monto | number:2}}</th>
                    </tr>
                    <tr class="amarillo" ng-click="detalleRecibos(p)">
                        <th class="sticky-cell">R</th>
                        <td ng-repeat="m in p.meses" style="text-align: right;">{{m.monto_rec | number:2}}</td>
                        <th style="text-align: right;">{{p.totales.monto_rec | number:2}}</th>
                    </tr>
                    <tr ng-repeat-end ng-show="p.detalle_recibos" ng-repeat="r in p.recibos">
                        <th class="sticky-cell">{{r.nombre}}</th>
                        <th ng-repeat="m in r.meses" style="text-align: right;">{{m.monto | number:2}}</th>
                    </tr>
                    <tr>
                        <th class="sticky-cell" style="text-align: center;">Total F:</th>
                        <th ng-repeat="m in i.totales_mes" style="text-align: right;">{{m.monto_fact | number:2}}</th>
                    </tr>
                    <tr>
                        <th class="sticky-cell" style="text-align: center;">Total R:</th>
                        <th ng-repeat="m in i.totales_mes" style="text-align: right;">{{m.monto_rec | number:2}}</th>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
    <rpt-viewer contenido="content"></rpt-viewer>
</div>