<style>
    .tab {
        padding-left: 2em !important;
    }

    .total {
        text-align: right;
        font-weight: bold;
        background-color: #A9E2F3;
    }

    .brdfin {
        border-top: solid 0.1em black !important;
        border-bottom: double 0.30em black !important;
    }

    .tituloIngEgr {
        background-color: #E0F2F7;
        text-decoration: underline;
    }

    .repHeader {
        width: 80%;
        background-color: #FFFF00;
        margin: 0 auto;
        border-radius: 0.75em;
        padding-left: 1em;
        padding-top: 0.1em;
        padding-bottom: 0.1em;
        padding-right: 1em;
        box-shadow: 0px 2px 5px lightgray;
        font-family: Arial;
    }

    .bld {
        font-weight: bold;
    }

    .subrayado {
        text-decoration: underline;
    }

    .smtxt {
        font-size: smaller;
    }

    .suma {
        border-top: solid 0.05em black !important;
        border-bottom: double 0.35em black !important;
    }
</style>
<div class="container" ng-controller="rptIngresosEgresosProyCtrl">
    <div class="panel panel-default">
        <div class="panel-heading">Reporte de Ingresos/Gastos por Proyecto</div>
        <div class="panel-body">
            <div class="row">
                <div class="col-md-4 nopadding">
                    <div class="form-group required">
                        <label for="selEmpresa" class="control-label">Empresa:</label>
                        <select name="selEmpresa" id="selEmpresa" class="form-control input-sm"
                            ng-model="params.idempresa" ng-options="obj.id as obj.nomempresa for obj in empresas"
                            ng-change="loadProyectos(params.idempresa)"></select>
                    </div>
                </div>
                <div class="col-md-3 nopadding">
                    <div class="form-group required">
                        <label for="selProyecto" class="control-label">Proyecto:</label>
                        <select name="selProyecto" id="selProyecto" class="form-control input-sm"
                            ng-model="params.idproyecto" ng-options="obj.id as obj.nomproyecto for obj in proyectos"
                            ng-change="loadUnidadesProyecto(params.idproyecto)"></select>
                    </div>
                </div>
                <div class="col-md-2 nopadding">
                    <div class="form-group">
                        <label for="selUnidad" class="control-label">Unidad:</label>
                        <select name="selUnidad" id="selUnidad" class="form-control input-sm" ng-model="params.idunidad"
                            ng-options="obj.id as obj.nombre for obj in unidades">
                        </select>
                    </div>
                </div>
                <div class="col-md-1 nopadding">
                    <div class="form-group required">
                        <label for="selDeMes" class="control-label">De:</label>
                        <select name="selDeMes" id="selDeMes" class="form-control input-sm" ng-model="params.dmes">
                            <option value="1">Ene</option>
                            <option value="2">Feb</option>
                            <option value="3">Mar</option>
                            <option value="4">Abr</option>
                            <option value="5">May</option>
                            <option value="6">Jun</option>
                            <option value="7">Jul</option>
                            <option value="8">Ago</option>
                            <option value="9">Sep</option>
                            <option value="10">Oct</option>
                            <option value="11">Nov</option>
                            <option value="12">Dic</option>
                        </select>
                    </div>
                </div>
                <div class="col-md-1 nopadding">
                    <div class="form-group required">
                        <label for="txtMes" class="control-label">A:</label>
                        <select name="txtMes" id="txtMes" class="form-control input-sm" ng-model="params.ames">
                            <option value="1">Ene</option>
                            <option value="2">Feb</option>
                            <option value="3">Mar</option>
                            <option value="4">Abr</option>
                            <option value="5">May</option>
                            <option value="6">Jun</option>
                            <option value="7">Jul</option>
                            <option value="8">Ago</option>
                            <option value="9">Sep</option>
                            <option value="10">Oct</option>
                            <option value="11">Nov</option>
                            <option value="12">Dic</option>
                        </select>
                    </div>
                </div>
                <div class="col-md-1 nopadding">
                    <div class="form-group required">
                        <label for="txtAnio" class="control-label">A&ntilde;o:</label>
                        <input name="txtAnio" id="txtAnio" type="number" class="form-control input-sm" min="2010"
                            ng-model="params.anio" />
                    </div>
                </div>
            </div>
        </div>
        <div class="panel-footer" style="text-align: right !important;">            
            <button type="button" class="btn btn-default btn-sm" ng-click="getResumen()" ng-disabled="+params.mes <= 0 || +params.anio <=0 || +params.idproyecto <= 0">
                Resumen
            </button>            
            <!--
            <button type="button" class="btn btn-default btn-sm" ng-click="getResumenPDF()" ng-disabled="+params.mes <= 0 || +params.anio <=0 || +params.idproyecto <= 0">
                <i class="fa fa-file-pdf-o" aria-hidden="true"></i>&nbsp;Resumen
            </button>
            -->
            
            <button type="button" class="btn btn-default btn-sm" ng-click="getDetalle()" ng-disabled="+params.mes <= 0 || +params.anio <=0 || +params.idproyecto <= 0">
                Detalle
            </button>
            <button type="button" class="btn btn-default btn-sm" ng-click="getDetallePDF()" ng-disabled="+params.mes <= 0 || +params.anio <=0 || +params.idproyecto <= 0">
                <i class="fa fa-file-pdf-o" aria-hidden="true"></i>&nbsp;Detalle
            </button>
            
            <button type="button" class="btn btn-default btn-sm" ng-click="ingegr(0)" ng-disabled="+params.mes <= 0 || +params.anio <=0 || +params.idproyecto <= 0">
                Resumen (Anual)
            </button>
            <button type="button" class="btn btn-default btn-sm" ng-click="ingegrPDF(0)" ng-disabled="+params.mes <= 0 || +params.anio <=0 || +params.idproyecto <= 0">
                <i class="fa fa-file-pdf-o" aria-hidden="true"></i>&nbsp;Resumen (Anual)
            </button>
            <button type="button" class="btn btn-default btn-sm" ng-click="ingegr(1)" ng-disabled="+params.mes <= 0 || +params.anio <=0 || +params.idproyecto <= 0">
                Detalle (Anual)
            </button>
            <button type="button" class="btn btn-default btn-sm" ng-click="ingegrPDF(1)" ng-disabled="+params.mes <= 0 || +params.anio <=0 || +params.idproyecto <= 0">
                <i class="fa fa-file-pdf-o" aria-hidden="true"></i>&nbsp;Detalle (Anual)
            </button>
        </div>
    </div>
    <hr />
    <!-- Inicia formato de resumen -->
    <div class="btn-group" role="group" aria-label="..." ng-show="rangeData.length > 0 && !verColumnar && !info">
        <button type="button" class="btn btn-default btn-sm" ng-click="getExcel('tblResumen')">
            <i class="fa fa-file-excel-o" aria-hidden="true"></i>&nbsp;Excel
        </button>
        <button type="button" class="btn btn-default btn-sm" ng-click="formatColumnar(); verColumnar = true;">
            Ver en columnas
        </button>
    </div>
    <small id="tblResumen" ng-show="rangeData.length > 0 && !verColumnar && !info">
        <div class="repHeader">
            <h3>{{rangeData[0].nomproyecto}} - {{rangeData[0].referencia}}</h3>
            <h4>{{rangeData[0].empresa}} ({{rangeData[0].abreviaempresa}})</h4>
            <h5>{{rangeData[0].anio}}</h5>
        </div>
        <div class="table-responsive">
            <table class="table table-condensed table-hover table-stripped" style="font-family: Arial !important;" ng-repeat="rango in rangeData">
                <caption>
                    <h4 style="font-weight: bolder">{{rango.datos.proyecto.mes}}</h4>
                </caption>
                <tr>
                    <th colspan="2" class="tituloIngEgr">INGRESOS</th>
                </tr>
                <tr ng-repeat="ing in rango.datos.ingresos" ng-class="{'total brdfin': $last }">
                    <td class="tab">{{ing.concepto | uppercase}}</td>
                    <td class="num">{{ing.monto | number:2}}</td>
                </tr>
                <tr>
                    <th colspan="2" class="tituloIngEgr">EGRESOS</th>
                </tr>
                <tr ng-repeat="egr in rango.datos.egresos" ng-class="{'total brdfin': $last }">
                    <td class="tab">{{egr.concepto | uppercase}}</td>
                    <td class="num">{{egr.monto | number:2}}</td>
                </tr>
                <tr>
                    <th colspan="3" class="total brdfin num">DIFERENCIA (INGRESOS - EGRESOS): {{datos.proyecto.diferencia | number:2}}</th>
                </tr>
            </table>
        </div>
    </small>
    <!-- Finaliza formato de resumen -->
    <!-- Inicia formato de detalle -->
    <div class="btn-group" role="group" aria-label="..." ng-show="rangeDataDetalle.length > 0 && !verColumnar && !info">
        <button type="button" class="btn btn-default btn-sm" ng-click="getExcel('tblDetalle')">
            <i class="fa fa-file-excel-o" aria-hidden="true"></i>&nbsp;Excel
        </button>
        <button type="button" class="btn btn-default btn-sm" ng-click="formatColumnar(); verColumnar = true;">
            Ver en columnas
        </button>
    </div>
    <small id="tblDetalle" ng-show="rangeDataDetalle.length > 0 && !verColumnar && !info">
        <div class="repHeader">
            <h3>{{rangeDataDetalle[0].nomproyecto}} - {{rangeDataDetalle[0].referencia}}</h3>
            <h4>{{rangeDataDetalle[0].empresa}} ({{rangeDataDetalle[0].abreviaempresa}})</h4>
            <h5>{{rangeDataDetalle[0].anio}}</h5>
        </div>
        <div class="table-responsive">
            <table class="table table-condensed table-hover table-stripped" style="font-family: Arial !important; border-collapse: collapse !important;" ng-repeat="rango in rangeDataDetalle">
                <caption>
                    <h4 style="font-weight: bolder">{{rango.datos.proyecto.mes}}</h4>
                </caption>
                <tr>
                    <th colspan="3" class="tituloIngEgr">INGRESOS</th>
                </tr>
                <tr ng-repeat="ing in rango.datos.ingresos" ng-class="{'total brdfin': $last }">
                    <td class="tab bld subrayado" style="width:15% !important;">{{ing.concepto | uppercase}}</td>
                    <td style="width:70% !important; vertical-align: top !important;">
                        <table class="smtxt" style="width: 100%; border-collapse: collapse !important;" ng-hide="$last">
                            <thead>
                            <tr>
                                <th style="width: 14%">Cliente</th>
                                <th style="width: 33%">Unidades</th>
                                <th class="num" style="width:10%; padding-right:1em;">M<sup>2</sup></th>
                                <th style="width: 23%">Factura</th>
                                <th class="num" style="width: 10%">Monto</th>
                                <th class="num" style="width: 10%">Monto/M<sup>2</sup></th>
                            </tr>
                            </thead>
                            <tbody>
                            <tr ng-repeat="det in ing.detalle">
                                <td style="width: 14%">{{det.abreviacliente}}</td>
                                <td style="width: 33%" ng-class="{'bld num': $last}">{{det.unidadescontrato}}</td>
                                <td class="num" style="width: 10%; padding-right:1em;" ng-class="{'bld suma': $last}">{{det.mcuadcontrato}}</td>
                                <td style="width: 23%" ng-class="{'bld num': $last}">{{det.serie}}{{det.numero}}</td>
                                <td class="num" style="width: 10%" ng-class="{'bld suma': $last}">{{det.totalneto}}</td>
                                <td class="num" style="width: 10%">{{det.montomcuad}}</td>
                            </tr>
                            </tbody>
                        </table>
                    </td>
                    <td class="num bld subrayado" style="width:15% !important;">{{$last ? (ing.monto | number:2) : ''}}</td>
                </tr>
                <tr>
                    <th colspan="3" class="tituloIngEgr">EGRESOS</th>
                </tr>
                <tr ng-repeat="egr in rango.datos.egresos" ng-class="{'total brdfin': $last }">
                    <td class="tab bld subrayado" style="width:15% !important;">{{egr.concepto | uppercase}}</td>
                    <td style="width:70% !important; vertical-align: top !important;">
                        <table class="smtxt" style="width: 100%; border-collapse: collapse !important;" ng-hide="$last">
                            <thead>
                            <tr>
                                <th style="width: 10%; vertical-align: top;">Fecha</th>
                                <th style="width: 10%; vertical-align: top;">Documento</th>
                                <th style="width: 10%; vertical-align: top;">OT</th>
                                <th style="width: 10%; vertical-align: top;">Beneficiario</th>
                                <th style="width: 10%; vertical-align: top;">Concepto</th>
                                <th class="num" style="width: 10%; vertical-align: top;">Monto</th>
                                <th style="width: 10%; padding-left: 0.75em;; vertical-align: top;">Compra</th>
                                <th style="width: 10%; vertical-align: top;">Fecha</th>
                                <th class="num" style="width: 10%; vertical-align: top;">Monto</th>
                            </tr>
                            </thead>
                            <tbody>
                            <tr ng-repeat="det in egr.detalle">
                                <td style="width: 10%; vertical-align: top;">{{det.fecha}}</td>
                                <td style="width: 10%; vertical-align: top;">{{det.tipotrans}}{{det.numero}}</td>
                                <td style="width: 10%; vertical-align: top;">{{det.ot}}</td>
                                <td style="width: 10%; vertical-align: top;">{{det.beneficiario | shortenStr:15}}</td>
                                <td style="width: 10%; vertical-align: top;">{{det.concepto | shortenStr:20}}</td>
                                <td class="num" style="width: 10%; vertical-align: top;">{{det.moneda}}&nbsp;{{det.montotranban | number:2}}</td>
                                <td style="width: 10%;  padding-left: 0.75em;; vertical-align: top;">{{det.documento}}</td>
                                <th style="width: 10%; vertical-align: top;" ng-class="{'bld num': $last}">{{det.fechafactura}}</th>
                                <td class="num" style="width: 10%; vertical-align: top;" ng-class="{'bld suma': $last}">{{det.monedafact}}&nbsp;{{det.montofact | number:2}}</td>
                            </tr>
                            </tbody>
                        </table>
                    </td>
                    <td class="num bld subrayado" style="width:15% !important;">{{egr.monto | number:2}}</td>
                </tr>
                <tr>
                    <th colspan="3" class="total brdfin num">DIFERENCIA (INGRESOS - EGRESOS): {{datosdet.proyecto.diferencia | number:2}}</th>
                </tr>
            </table>
        </div>
    </small>
    <!-- Finaliza formato de detalle -->
    <!-- Inicia formato columnar -->
    <div class="btn-group" role="group" aria-label="..." ng-show="(rangeDataDetalle.length > 0 || rangeData.length > 0) && verColumnar && !info">
        <button type="button" class="btn btn-default btn-sm" ng-click="getExcel('tblColumnar')">
            <i class="fa fa-file-excel-o" aria-hidden="true"></i>&nbsp;Excel
        </button>
        <button type="button" class="btn btn-default btn-sm" ng-click="verColumnar = false;">
            Ver en filas
        </button>
    </div>
    <hr ng-show="verColumnar"/>
    <small id="tblColumnar" ng-show="verColumnar && !info">
        <div class="repHeader">
            <h3>{{columnar.nomproyecto}} - {{columnar.referencia}}</h3>
            <h4>{{columnar.empresa}} ({{columnar.abreviaempresa}})</h4>
            <h5>{{columnar.anio}}</h5>
        </div>
        <div class="table-responsive">
            <table class="table table-condensed table-hover table-stripped" style="font-family: Arial !important;">
                <tr ng-repeat="r in columnar.datos track by $index">
                    <td ng-repeat="c in r track by $index"
                        ng-class="{
                        'num': ($index > 0 || c.toLowerCase().indexOf('total de') > -1),
                        'bld': ($parent.$index == 0 || $last || c.toLowerCase().indexOf('ingresos') > -1 || c.toLowerCase().indexOf('egresos') > -1)
                        }"
                    >
                        {{c}}
                    </td>
                </tr>
            </table>
        </div>
    </small>
    <!-- Finaliza formato columnar -->
    <!-- Inicia formato solicitado por Don Manuel el 17/02/2020 -->
    <div class="btn-group" role="group" aria-label="..." ng-show="!!info">
        <button type="button" class="btn btn-default btn-sm" ng-click="getExcel('tblFormato')">
            <i class="fa fa-file-excel-o" aria-hidden="true"></i>&nbsp;Excel
        </button>
    </div>
    <small id="tblFormato" ng-show="!!info">
        <div class="repHeader">
            <h3>{{info.proyecto.nomproyecto}} - {{info.proyecto.referencia}}</h3>
            <h4>{{info.proyecto.empresa}} ({{info.proyecto.abreviaempresa}})</h4>
            <h5>De {{info.proyecto.dmes}} a {{info.proyecto.ames}} de {{info.proyecto.anio}}</h5>
        </div>
        <div class="table-responsive">
            <!-- Inicia ingresos -->
            <table class="table table-hover table-condensed" ng-show="info.ingresos.length > 0">
                <caption><h3>Ingresos</h3></caption>
                <tbody>
                    <tr ng-repeat="ingreso in info.ingresos">
                        <td style="width: 100%;">
                            <table style="width: 100%; border-collapse: collapse;">
                                <tr ng-show="+ingreso.total !== 0">
                                    <th style="width: 90%; padding-left: 0.5em; text-decoration: underline; font-size: 11pt;">{{ingreso.concepto}}</th>
                                    <th style="width: 10%; font-size: 11pt;" class="num">{{ingreso.total | number:2}}</th>
                                </tr>
                                <tr ng-repeat="mes in ingreso.meses" ng-show="+ingreso.total !== 0">
                                    <td style="width: 100%;">
                                        <table style="width: 100%; border-collapse: collapse;">
                                            <tr>
                                                <th style="width: 90%; padding-left: 1em; text-decoration: underline; font-size: 10pt;">{{mes.mes}}</th>
                                                <th style="width: 10%; font-size: 10pt;" class="num">{{mes.total | number:2}}</th>
                                            </tr>
                                            <tr ng-show="mes.detalle.length > 0">
                                                <td colspan="2" style="width: 100%;" ng-show="mes.detalle.length > 0">
                                                    <table style="width: 100%; border-collapse: collapse;" ng-show="mes.detalle.length > 0">
                                                        <tr ng-show="mes.detalle.length > 0">
                                                            <th style="width: 16.67; padding-left: 1.5em;">Cliente</th>
                                                            <th style="width: 16.66;">Unidades</th>
                                                            <th style="width: 16.66;" class="num">M<sup>2</sup></th>
                                                            <th style="width: 16.67; padding-left: 0.5em;">Factura</th>
                                                            <th style="width: 16.67;" class="num">Monto</th>
                                                            <th style="width: 16.67;" class="num">Monto/M<sup>2</sup></th>
                                                        </tr>
                                                        <tr ng-repeat="det in mes.detalle">
                                                            <td style="width: 16.67; padding-left: 1.5em;">{{det.abreviacliente}}</td>
                                                            <td style="width: 16.66;" ng-class="{'bld suma': $last}">{{det.unidadescontrato}}</td>
                                                            <td style="width: 16.66;" class="num" ng-class="{'bld suma': $last}">{{det.mcuadcontrato}}</td>
                                                            <td style="width: 16.67; padding-left: 0.5em;" ng-class="{'bld suma': $last}">{{det.serie}} {{det.numero}}</td>
                                                            <td style="width: 16.67;" class="num" ng-class="{'bld suma': $last}">{{det.preciotot | number:2}}</td>
                                                            <td style="width: 16.67;" class="num" ng-class="{'bld suma': $last}">{{det.montomcuad | number:2}}</td>
                                                        </tr>
                                                    </table>
                                                </td>
                                            </tr>
                                        </table>
                                    </td>
                                </tr>
                            </table>
                        </td>
                    </tr>
                </tbody>
            </table>
            <!-- Fin de ingresos -->
            <!-- Inicia egresos -->
            <table class="table table-hover table-condensed" ng-show="info.egresos.length > 0">
                <caption><h3>Egresos</h3></caption>
                <tbody>
                    <tr ng-repeat="egreso in info.egresos">
                        <td style="width: 100%;">
                            <table style="width: 100%; border-collapse: collapse;">
                                <tr ng-show="+egreso.total !== 0">
                                    <th style="width: 90%; padding-left: 0.5em; text-decoration: underline; font-size: 11pt;">{{egreso.concepto}}</th>
                                    <th style="width: 10%; font-size: 11pt;" class="num">{{egreso.total | number:2}}</th>
                                </tr>
                                <tr ng-repeat="mes in egreso.meses" ng-show="+egreso.total !== 0">
                                    <td style="width: 100%;">
                                        <table style="width: 100%; border-collapse: collapse;">
                                            <tr>
                                                <th style="width: 90%; padding-left: 1em; text-decoration: underline; font-size: 10pt;">{{mes.mes}}</th>
                                                <th style="width: 10%; font-size: 10pt;" class="num">{{mes.total | number:2}}</th>
                                            </tr>
                                            <tr ng-show="mes.detalle.length > 0">
                                                <td colspan="2" style="width: 100%;" ng-show="mes.detalle.length > 0">
                                                    <table style="width: 100%; border-collapse: collapse;" ng-show="mes.detalle.length > 0">
                                                        <tr ng-show="mes.detalle.length > 0">
                                                            <th style="width: 11.11; padding-left: 1.5em;">Fecha</th>
                                                            <th style="width: 11.11;">Documento</th>
                                                            <th style="width: 11.11;">OT</sup></th>
                                                            <th style="width: 11.11;">Beneficiario</th>
                                                            <th style="width: 11.12;">Concepto</th>
                                                            <th style="width: 11.11;" class="num">Monto</th>
                                                            <th style="width: 11.11; padding-left: 0.5em;">Compra</th>
                                                            <th style="width: 11.11;">Fecha</th>
                                                            <th style="width: 11.11;" class="num">Monto</th>
                                                        </tr>
                                                        <tr ng-repeat="det in mes.detalle">
                                                            <td style="width: 11.11; padding-left: 1.5em;">{{det.fecha}}</td>
                                                            <td style="width: 11.11;">{{det.tipotrans}}{{det.numero}}</td>
                                                            <td style="width: 11.11;">{{det.ot}}</td>
                                                            <td style="width: 11.11;">{{det.beneficiario | shortenStr:15}}</td>
                                                            <td style="width: 11.12;">{{det.concepto | shortenStr:20}}</td>
                                                            <td style="width: 11.11;" class="num">{{det.moneda}} {{det.montotranban | number:2}}</td>
                                                            <td style="width: 11.11; padding-left: 0.5em;">{{det.documento}}</td>
                                                            <td style="width: 11.11;">{{det.fechafactura}}</td>
                                                            <td style="width: 11.11;" class="num" ng-class="{'bld suma': $last}">{{det.monedafact}} {{det.montofact | number:2}}</td>
                                                        </tr>
                                                    </table>
                                                </td>
                                            </tr>
                                        </table>
                                    </td>
                                </tr>
                            </table>
                        </td>
                    </tr>
                </tbody>
            </table>
            <!-- Fin de egresos-->
        </div>
    </small>
    <!-- Finaliza formato solicitado por Don Manuel el 17/02/2020 -->
</div>