<div class="container" ng-controller="rptLibroDiarioCtrl">
    <div class="row">
        <div class="panel panel-default">
            <div class="panel-heading">Libro de diario</div>
            <div class="panel-body" style="text-align: right">
                <div class="row" style="text-align: left">
                    <div class="col-md-3 col-sm-3">
                        <div class="form-group">
                            <label for="txtDel">Del:</label>
                            <input name="txtDel" id="txtDel" type="date" class="form-control" ng-model="params.del" placeholder="Del" ng-change="libromayor = []"/>
                        </div>
                    </div>
                    <div class="col-md-3 col-sm-3">
                        <div class="form-group">
                            <label for="txtAl">Al:</label>
                            <input name="txtAl" id="txtAl" type="date" class="form-control" ng-model="params.al" placeholder="Al" ng-change="libromayor = []"/>
                        </div>
                    </div>
                    <div class="col-md-3">
                        <div class="form-group">
                            <label for="chkCierre">Ver partidas de cierre y apertura:</label>
                            <input name="chkCierre" id="chkCierre" type="checkbox" class="form-control" ng-model="params.vercierre" ng-true-value="1" ng-false-value="0"/>
                        </div>
                    </div>
                </div>
                <button type="button" class="btn btn-primary" ng-click="getLibroDiario()">
                    <i class="fa fa-file-pdf-o" aria-hidden="true"></i>
                </button>
                <button type="button" class="btn btn-primary" ng-click="getLibroDiarioXLSX()">
                    <i class="fa fa-file-excel-o" aria-hidden="true"></i>
                </button>
            </div>
        </div>
    </div>
    <rpt-viewer contenido="content"></rpt-viewer>
</div>