<style>
    .amarillo {
        background-color: lightgoldenrodyellow;
        text-align: center;
        border-radius: 5px;
        font-size: 16px;
    }

    .celeste {
        background-color: rgb(217, 231, 248);
        border-radius: 5px;
    }

    .gris {
        background-color: #E8E8E8;
        border-radius: 5px;
    }

    .blanco {
        background-color: white;
    }

    .redondeado {
        border-radius: 10px;
        border: 1px solid #ccc;
        padding: 10px;
    }

    .modal-xl .modal-dialog {
        width: 90%;
        /* o 1200px, lo que necesites */
        max-width: none;
    }
</style>
<div class="container" ng-controller="rptOcupacion">
    <div class="row">
        <div class="panel panel-default">
            <div class="panel-heading">Repote de ocupaci&oacute;n</div>
            <div class="panel-body">
                <form name="paramsRep" id="paramsRep" novalidate>
                    <div class="row">
                        <div class="col-md-6">
                            <div class="form-group required">
                                <label class="control-label">Empresa:</label>
                                <ui-select ng-model="params.idempresa" title="Seleccione una empresa..."
                                    theme="bootstrap" autofocus="false" ng-change="getProyectos(params.idempresa)"
                                    required>
                                    <ui-select-match placeholder="Buscar empresa..." allow-clear="false">
                                        <span ng-bind="($select.selected.nomempresa)"></span>
                                    </ui-select-match>
                                    <ui-select-choices repeat="item.id as item in empresas | filter:$select.search">
                                        <div ng-bind-html="(item.nomempresa) | highlight: $select.search"></div>
                                    </ui-select-choices>
                                    <ui-select-no-choice>No hay resultados...</ui-select-no-choice>
                                </ui-select>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="form-group required">
                                <label class="control-label">Proyecto:</label>
                                <ui-select ng-model="params.idproyecto" title="Seleccione un proyecto..."
                                    theme="bootstrap" autofocus="true" required>
                                    <ui-select-match placeholder="Buscar proyecto..." allow-clear="false">
                                        <span ng-bind="($select.selected.nomproyecto)"></span>
                                    </ui-select-match>
                                    <ui-select-choices repeat="item.id as item in proyectos | filter:$select.search">
                                        <div ng-bind-html="(item.nomproyecto) | highlight: $select.search"></div>
                                    </ui-select-choices>
                                    <ui-select-no-choice>No hay resultados...</ui-select-no-choice>
                                </ui-select>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-6">
                            <div class="form-group required">
                                <label for="numAnio" class="control-label">A&ntilde;o del:</label>
                                <input name="numAnio" id="numAnio" type="number" class="form-control"
                                    ng-model="params.anio_del" ng-max="params.anio_al" required>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="form-group required">
                                <label for="numAnio" class="control-label">A&ntilde;o al:</label>
                                <input name="numAnio" id="numAnio" type="number" class="form-control"
                                    ng-model="params.anio_al" ng-min="params.anio_del" required>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-6">
                            <div class="form-group required">
                                <label for="selDel" class="control-label">Mes del:</label>
                                <select name="selDel" id="selDel" class="form-control" ng-model="params.mes_del"
                                    required>
                                    <option value="0">Enero</option>
                                    <option value="1">Febrero</option>
                                    <option value="2">Marzo</option>
                                    <option value="3">Abril</option>
                                    <option value="4">Mayo</option>
                                    <option value="5">Junio</option>
                                    <option value="6">Julio</option>
                                    <option value="7">Agosto</option>
                                    <option value="8">Septiembre</option>
                                    <option value="9">Octubre</option>
                                    <option value="10">Noviembre</option>
                                    <option value="11">Diciembre</option>
                                </select>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="form-group required">
                                <label for="selAl" class="control-label">Mes al:</label>
                                <select name="selAl" id="selAl" class="form-control" ng-model="params.mes_al" required>
                                    <option value="0">Enero</option>
                                    <option value="1">Febrero</option>
                                    <option value="2">Marzo</option>
                                    <option value="3">Abril</option>
                                    <option value="4">Mayo</option>
                                    <option value="5">Junio</option>
                                    <option value="6">Julio</option>
                                    <option value="7">Agosto</option>
                                    <option value="8">Septiembre</option>
                                    <option value="9">Octubre</option>
                                    <option value="10">Noviembre</option>
                                    <option value="11">Diciembre</option>
                                </select>
                            </div>
                        </div>
                    </div>
                </form>
            </div>
            <div class="panel-footer text-right">
                <div class="btn-group">
                    <button type="button" class="btn btn-danger" ng-click="getPDF(params, 'Bkr3njFixg')"
                        ng-disabled="paramsRep.$invalid || cargando" title="Reporte PDF">
                        <span class="fa fa-file-pdf-o" aria-hidden="true"></span>
                    </button>
                    <button type="button" class="btn btn-success" ng-click="getXML(params)"
                        ng-disabled="paramsRep.$invalid || cargando" title="Reporte excel">
                        <span class="fa fa-file-excel-o" aria-hidden="true"></span>
                    </button>
                    <button type="button" class="btn btn-primary" ng-click="getResumen(params)"
                        ng-disabled="paramsRep.$invalid || cargando" title="Reporte en pantalla">
                        <i class="fi fi-tr-file-download"></i>
                    </button>
                    <button type="button" class="btn btn-default" ng-click="getPDF(params, 'S1PMiZWybl')"
                        ng-disabled="paramsRep.$invalid || cargando" title="Detalle de los meses">
                        <i class="fi fi-rr-file-circle-info"></i>
                    </button>
                </div>
            </div>
        </div>
    </div>
    </hr>
    <div class="row" ng-show="cargando">
        <div class="col-md-6 col-md-offset-3">
            <div class="well well-sm" style="text-align: center; font-size: 1.45em; font-weight: bold;">
                <span class="label label-primary">Generando reporte, por favor espere...</span>
                <img ng-src="img/generando.gif" alt="Generando reporte..." style="width: 25px; height: 25px;" />
            </div>
        </div>
    </div>
    <div id="tblResumen" ng-show="ver" class="table-responsive">
        <table class="table table-responsive table-hover">
            <caption style="text-align: center; " class="amarillo">
                <h3 style="color: black;">Reporte de ocupaci&oacute;n</h3>
                <h4 style="color: black;">{{encabezado.proyecto}}</h4>
                <h5 style="color: black;">{{encabezado.metros | number: 2}}m<sup>2</sup></h5>
            </caption>
            <tbody ng-repeat="anio in anios">
                <tr ng-click="anio.detalle = !anio.detalle" class="celeste">
                    <th colspan="{{anio.columnas}}">{{ anio.anio }}</th>
                </tr>
                <tr ng-show="anio.detalle">
                    <th>&nbsp;</th>
                    <th style="vertical-align: middle;">Promedio</th>
                    <th ng-repeat="mes in anio.meses">
                        <div
                            style="display:flex; align-items:center; justify-content:space-between; white-space:nowrap;">
                            <span>{{mes.mes}}</span>
                            <button type="button" class="btn btn-link" title="Detalle {{mes.mes}}"
                                ng-click="verDetalle(mes.detalles, mes.mes)">
                                <i class="fi fi-rr-file-circle-info"></i>
                            </button>
                        </div>
                    </th>
                </tr>
                <tr ng-show="anio.detalle">
                    <th>Metros</th>
                    <td>{{anio.promedio_metros_ocupados | number: 2}}m<sup>2</sup></td>
                    <td ng-repeat="mes in anio.meses">{{mes.metros_ocupados | number: 2}}m<sup>2</sup></td>
                </tr>
                <tr ng-show="anio.detalle">
                    <th>Porcentaje</th>
                    <td>{{anio.promedio_porcentaje_ocupado | number: 2}}%</td>
                    <td ng-repeat="mes in anio.meses">{{mes.porcentaje_ocupado | number: 2}}%</td>
                </tr>
                <tr ng-show="anio.detalle">
                    <th>Monto</th>
                    <td>Q.{{anio.promedio_total | number: 2}}</td>
                    <td ng-repeat="mes in anio.meses">Q.{{mes.total | number: 2}}</td>
                </tr>
            </tbody>
        </table>
    </div>
    <rpt-viewer contenido="content"></rpt-viewer>

    <!-- detalle del mes -->
    <script type="text/ng-template" id="modalDetalleMes.html">
        <div class="modal-header">
            <h3 class="modal-title">Detalle del mes de {{mes}}</h3>
        </div>
        <div class="modal-body">
            <div ng-show="detalles.length > 0" class="table-responsive">
                <table class="table table-responsive">
                    <thead>
                        <th>Unidad</th>
                        <th>Tipo</th>
                        <th>Metros</th>
                        <th>Porcentaje</th>
                        <th>Cliente</th>
                        <th>Servicio</th>
                        <th>Total</th>
                    </thead>
                    <tbody ng-repeat="d in detalles">
                        <td>{{d.unidad}}</td>
                        <td>{{d.tipo}}</td>
                        <td class="text-right">{{d.medida | number:2}}m<sup>2</sup></td>
                        <td class="text-right">{{d.porcentaje}}%</td>
                        <td>{{d.cliente}}</td>
                        <td>{{d.servicio}}</td>
                        <td class="text-right">Q.{{d.total | number:2}}</td>
                    </tbody>
                </table>
            </div>
        </div>
        <div class="modal-footer">
            <button class="btn btn-primary" type="button" ng-click="cancel()">Aceptar</button>
        </div>
    </script>
</div>