<div class="container" ng-controller="rptPlnCatEmpleValCtrl">
    <div class="row">
        <div class="panel panel-default">
            <div class="panel-heading">Cat&aacute;logo de Empleados y Valores</div>
            <div class="panel-body" style="text-align: right">
                <div class="row" style="text-align: left">
                    <div class="col-md-3 col-sm-3">
                        <div class="form-group">
                            <label for="txtMinimo">Salario m&iacute;nimo de:</label>
                            <input name="txtMinimo" id="txtMinimo" type="number" class="form-control" ng-model="params.minimo" placeholder="Minimo" step="0.01"/>
                        </div>
                    </div>
                </div>
                <button type="button" class="btn btn-primary" ng-click="getReporte()">
                    <i class="fa fa-file-pdf-o" aria-hidden="true"></i>
                </button>
                <!--
                <button type="button" class="btn btn-primary" ng-click="getLibroDiarioXLSX()">
                    <i class="fa fa-file-excel-o" aria-hidden="true"></i>
                </button>
                -->
            </div>
        </div>
    </div>
    <rpt-viewer contenido="content"></rpt-viewer>
</div>