<div class="container-fluid" ng-controller="tranGenChqOtsCtrl">
    <div class="panel panel-primary">
        <div class="panel-heading">Generaci&oacute;n de pagos de OTs</div>
        <div class="panel-body">
            <table class="table table-condensed table-hover">
                <thead>
                <tr>
                    <th>Empresa</th>
                    <th>Banco por defecto</th>
                </tr>
                </thead>
                <tbody>
                <tr>
                    <td>Fecha de transacci&oacute;n:</td>
                    <td>
                        <input type="date" class="form-control input-sm" ng-model="fechatran" ng-change="chkFechaEnPeriodo(fechatran)"/>
                    </td>
                </tr>
                <tr ng-repeat="emp in empresas">
                    <td>{{emp.empresa}}</td>
                    <td>
                        <!--bancomonedacorrela-->
                        <select name="selBancoDef_{{$index}}" id="selBancoDef_{{$index}}" class="form-control input-sm" style="width: 100%;" ng-model="defaultData.idbanco" ng-change="setBanco(emp.idempresa, defaultData.idbanco)"
                                ng-options="obj.id as ('(' + obj.abreviaempresa + ') ' + obj.bancomoneda) for obj in losBancos | filter:{ idempresa: emp.idempresa } : true">
                        </select>
                    </td>
                </tr>
                <tr>
                    <td colspan="2" style="text-align: right">
                        <button type="button" class="btn btn-primary" ng-click="generaCheques('C')" ng-disabled="periodoCerrado">Generar Cheques</button>
                        <button type="button" class="btn btn-primary" ng-click="generaCheques('B')" ng-disabled="periodoCerrado">Generar Notas de débito</button>
                    </td>
                </tr>
                </tbody>
            </table>
        </div>
    </div>
    <hr/>
    <div class="table-responsive">
        <table class="table table-condensed table-hover">
            <caption ng-hide="+ot.id > 0">
                <input type="text" class="form-control input-sm" style="width: 100%" ng-model="search.$" placeholder="Buscar..."/>
            </caption>
            <thead>
            <tr>
                <th>Empresa</th>
                <th>Proyecto</th>
                <th>Proveedor</th>
                <th>OT/#Pago</th>
                <th>Monto</th>
                <th>Quitar ISR</th>
                <th>Banco</th>
                <th>
                    <div class="checkbox">
                        <label class="checkbox-inline"><input type="checkbox" ng-model="generarTodos" ng-true-value="1" ng-false-value="0" ng-change="setGenerar()"><strong>Generar</strong></label>
                    </div>
                </th>
            </tr>
            </thead>
            <tbody>
            <tr ng-repeat="pago in losPagos | filter:search">
                <td>{{pago.abreviaempresa}}</td>
                <td>{{pago.proyecto}}</td>
                <td>{{pago.proveedor}}</td>
                <td>{{pago.ot}}/{{pago.nopago}}</td>
                <td>{{pago.monedapago}} {{pago.valor | number:2}}</td>
                <td>{{+pago.quitarisr == 1 ? 'Sí' : 'No'}}</td>
                <td style="width: 17%;">
                    <select name="selBanco_{{$index}}" id="selBanco_{{$index}}" class="form-control input-sm" style="width: 100%;" ng-model="pago.idbanco"
                            ng-options="obj.id as ('(' + obj.abreviaempresa + ') ' + obj.bancomoneda) for obj in losBancos | filter:{idempresa: pago.idempresa} : true">
                    </select>
                </td>
                <td style="width: 5%; text-align: center;">
                    <input type="checkbox" ng-model="pago.generar" style="width: 15px; height: 15px;" ng-true-value="1" ng-false-value="0" ng-change="addPagoAGenerar(pago)"/>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
</div>