<style>
    .amarillo {
        background-color: #F7EB89;
        text-align: center;
        border-radius: 5px;
        font-size: 16px;
    }

    .celeste {
        background-color: rgb(217, 231, 248);
        border-radius: 5px;
    }

    .gris {
        background-color: #E8E8E8;
        border-radius: 5px;
    }

    .blanco {
        background-color: white;
    }

    .search-container {
        position: relative;
        display: flex;
        align-items: center;
    }

    .search-container input {
        padding-left: 30px;
        /* Ajusta el padding para que no se superponga el ícono */
    }

    .search-icon {
        position: absolute;
        left: 10px;
        /* Ajusta la posición del ícono */
        color: #aaa;
        /* Color del ícono */
    }
</style>
<div class="container" ng-controller="vacacionesCtrl">
    <div class="row">
        <div class="panel panel-default">
            <div class="panel-heading">Vacaciones</div>
            <div class="panel-body">
                <form name="paramsVacaciones" id="paramsVacaciones" novalidate>
                    <div class="row">
                        <div class="col-md-4">
                            <div class="form-group required">
                                <label class="control-label">Empleado:</label>
                                <ui-select ng-model="vacaciones.idempleado" title="Seleccione un empleado..."
                                    theme="bootstrap" autofocus="false"
                                    ng-change="getHistorial(vacaciones.idempleado, $selected.selected.ingreso)"
                                    required>
                                    <ui-select-match placeholder="Buscar empleado..." allow-clear="false">
                                        <span ng-bind="($select.selected.nombre)"></span>
                                    </ui-select-match>
                                    <ui-select-choices repeat="item.id as item in empleados | filter:$select.search">
                                        <div ng-bind-html="(item.nombre) | highlight: $select.search"></div>
                                    </ui-select-choices>
                                    <ui-select-no-choice>No hay resultados...</ui-select-no-choice>
                                </ui-select>
                            </div>
                        </div>
                        <div class="col-md-4">
                            <div class="form-group required">
                                <label class="control-label">A&ntilde;o:</label>
                                <input type="number" ng-model="vacaciones.anio" ng-change="getHistorial(vacaciones.idempleado)" class="form-control">
                            </div>
                        </div>
                        <div class="col-md-4">
                            <div class="form-group required">
                                <label class="control-label">D&iacute;as restantes:</label>
                                <input type="number" ng-model="dias_restantes" class="form-control" ng-disabled="true">
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-4">
                            <div class="form-group required">
                                <label class="control-label">Fecha inicia:</label>
                                <input type="date" class="form-control" ng-model="vacaciones.fechainicio" required
                                    ng-attr-max="{{vacaciones.fechafin | date:'yyyy-MM-dd'}}">
                            </div>
                        </div>
                        <div class="col-md-4">
                            <div class="form-group required">
                                <label class="control-label">Fecha fin:</label>
                                <input type="date" class="form-control" ng-model="vacaciones.fechafin" required
                                    ng-attr-min="{{vacaciones.fechainicio | date:'yyyy-MM-dd'}}">
                            </div>
                        </div>
                        <div class="col-md-4">
                            <div class="form-group required">
                                <label class="control-label">D&iacute;as a gozar:</label>
                                <input type="number" ng-model="vacaciones.dias" class="form-control" ng-disabled="true" required>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-12">
                            <div class="form-group required">
                                <label class="control-label">Observaciones:</label>
                                <textarea rows="4" ng-model="vacaciones.observaciones" class="form-control"
                                    required></textarea>
                            </div>
                        </div>
                    </div>
                </form>
            </div>
            <div class="panel-footer text-right">
                <div class="row">
                    <div class="col-md-12">
                        <div class="form-group">
                            <div class="btn-group btn-group-justified" role="group">
                                <div class="btn-group" role="group">
                                    <button class="btn btn-default" title="Imprimir detalle" type="button"
                                        ng-show="historial.length > 0" ng-disabled="cargando"
                                        ng-click="printDetalle(vacaciones)">
                                        <i class="fi fi-rr-print"></i> Detalle empleado
                                    </button>
                                </div>
                                <div class="btn-group" role="group">
                                    <button class="btn btn-primary" title="Guardar registro" type="button"
                                        ng-disabled="paramsVacaciones.$invalid || cargando || !modificaciones"
                                        ng-click="guardar(vacaciones)">
                                        <i class="fi fi-rr-disk"></i> Guardar
                                    </button>
                                </div>
                                <div class="btn-group" role="group">
                                    <button class="btn btn-danger" ng-disabled="!vacaciones.id || cargando"
                                        title="Eliminar registro" type="button" ng-click="eliminar(vacaciones)">
                                        <i class="fi fi-rr-trash"></i> Eliminar
                                    </button>
                                </div>
                                <div class="btn-group" role="group">
                                    <button class="btn btn-default" title="Crear nuevo registro" type="button"
                                        ng-show="vacaciones.id > 0" ng-disabled="cargando"
                                        ng-click="resetParams(vacaciones.idempleado, historial)">
                                        <i class="fi fi-br-plus"></i> Nuevo
                                    </button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    </hr>
    <div class="row" ng-show="cargando">
        <div class="col-md-6 col-md-offset-3">
            <div class="well well-sm" style="text-align: center; font-size: 1.45em; font-weight: bold;">
                <span class="label label-primary">Cargando por favor espere...</span>
                <img ng-src="img/generando.gif" alt="Obteniendo informacion..." style="width: 25px; height: 25px;" />
            </div>
        </div>
    </div>
    <div id="tblResumen">
        <table class="table table-responsive table-hover" ng-show="historial.length > 0 && !cargando">
            <caption class="celeste">
                <h4 style="color: black; text-align: center;">Historial de vacaciones del {{vacaciones.anio}}</h4>
                </div>
            </caption>
            <thead>
                <tr>
                    <th>A&ntilde;o</th>
                    <th>Fecha Inicio</th>
                    <th>Fecha Fin</th>
                    <th>D&iacute;as</th>
                    <th>Observaciones</th>
                </tr>
            </thead>
            <tbody>
                <tr ng-repeat="h in historial" ng-click="getDetalle(h.id)">
                    <td>{{h.anio}}</td>
                    <td>{{h.fechainicio | date:'dd/MM/yyyy'}}</td>
                    <td>{{h.fechafin | date: 'dd/MM/yyyy'}}</td>
                    <td>{{h.dias}}</td>
                    <td>{{h.observaciones}}</td>
                </tr>
            </tbody>
        </table>
        <h4 style="color: black; text-align: center;"
            ng-show="historial.length == 0 && vacaciones.idempleado > 0 && !cargando" class="celeste">SIN HISOTRAL EN
            {{vacaciones.anio}} PARA {{empleado}}</h4>
    </div>
</div>