<div class="container-fluid" ng-controller="generarVacacionesController">
	<div class="row">
		<div class="col-sm-offset-3 col-sm-6">
			<div class="jumbotron" id="contenidoGenerar">
				<h3 class="text-center">Generar Vacaciones</h3>

				<form ng-submit="generar(gen)">
					<div class="form-group form-group-sm">
						<label for="selectEmpresa">Empresa:</label>
						<select class="form-control" name="empresa" ng-model="emp.empresa" id="selectEmpresa">
							<option value="">------</option>
							<option ng-repeat="empresa in empresas" value="{{empresa.id}}">{{empresa.nomempresa}}</option>
						</select>
					</div>

				  <div class="form-group form-group-sm">
				  	<label for="selectEmpleado">Empleado:</label>
			  		<select class="form-control" ng-model="gen.idplnempleado" id="selectEmpleado">
			  			<option value="">------</option>
			  			<option ng-repeat="empleado in empleados" value="{{empleado.id}}">{{empleado.nombre}} {{empleado.apellidos}}</option>
			  		</select>
				  </div>

				  <div class="form-group form-group-sm">
				    <label for="inputFecha">Anio:</label>
				    <input type="number" ng-model="gen.anio" class="form-control" placeholder="Año" required>
					</div>
					
					<div class="form-group form-group-sm">
				    <label for="inputFecha">Últimas vacaciones finalizaron el:</label>
				    <input type="date" ng-model="gen.ultimas" class="form-control" placeholder="Año">
					</div>
					
					<div class="form-group form-group-sm">
				    <label for="inputFecha">Gozar a partir del:</label>
				    <input type="date" ng-model="gen.gozar" class="form-control" placeholder="Año" required>
				  </div>

				  <button type="submit" class="btn btn-primary btn-block" id="btnBuscar" data-loading-text="Generando...">
				  	<i class="glyphicon glyphicon-cog"></i> Generar
				  </button>
				</form>
			</div>
		</div>
	</div>
</div>